/* 
=================================================================
  FOR DEMO PAGE (ignore) 
==================================================================
*/
      
      
html {
    font-family: sans-serif;
 /* 1 */
    -ms-text-size-adjust: 100%;
 /* 2 */
    -webkit-text-size-adjust: 100%;
 /* 2 */
    background-image: linear-gradient(top, rgb(240,240,240) 11%, rgb(191,191,191) 100%);
    background-image: -o-linear-gradient(top, rgb(240,240,240) 11%, rgb(191,191,191) 100%);
    background-image: -moz-linear-gradient(top, rgb(240,240,240) 11%, rgb(191,191,191) 100%);
    background-image: -webkit-linear-gradient(top, rgb(240,240,240) 11%, rgb(191,191,191) 100%);
    background-image: -ms-linear-gradient(top, rgb(240,240,240) 11%, rgb(191,191,191) 100%);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.11, rgb(240,240,240)),
            color-stop(1, rgb(191,191,191))
        );
    height: 100%;
    min-height: 100%;
}

body {
    font: 100%/1.5 Arial;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

article {
    font-size: 80%;
    text-shadow: 0 1px rgba(255,255,255,.7);
    color: #333;
    padding: 2em 4em;
}

code {
    font-size: 130%;
}