@charset "UTF-8";

    
    /* Demo Page */
    
    body  {background-color: #EEE; font: 100%/1.5 Arial; -webkit-font-smoothing:antialiased; padding: 0; margin: 0; }
    article { font-size: 80%; text-shadow: 0 1px rgba(255,255,255,.7); color: #333; padding: 2em 4em; }
    code { font-size: 130%;}

    /* 
    ==========================================================================
        SideMenu.js
    ========================================================================== 
    */
    
    .sm-wrapper { 
        overflow: hidden;
        position: absolute;
        min-height: 100%;
        width: 100%; 
    }
    .sm-main {

        font-size: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 260px;
        -moz-transform:translate(100%, 0);
        -webkit-transform:translate(100%, 0);
        -o-transform:translate(100%, 0);
        -ms-transform:translate(100%, 0);
        transform:translate(100%, 0);

        -moz-transform:translate3d(100%, 0, 0);
        -webkit-transform:translate3d(100%, 0, 0);
        -o-transform:translate3d(100%, 0, 0);
        -ms-transform:translate3d(100%, 0, 0);
        transform:translate3d(100%, 0, 0);
        z-index: 1;
    }
    .sm-item-label,.sm a { color: #888; cursor: pointer; text-decoration: none; }
    .sm .sm-title {
        background: #73BE13;
        color: #FFF;
        font-size: 2em;
        font-weight: 300;
        margin: 0;
        padding: 1em;
    }
    .sm {
        -webkit-transition:-webkit-transform .7s cubic-bezier(.65,.22,0,.98), opacity .7s linear;
        -moz-transition: -moz-transform .7s cubic-bezier(.65,.22,0,.98), opacity .7s linear;
        transition: transform .7s cubic-bezier(.65,.22,0,.98), opacity .7s linear;
        background: #FFF;
        height: 100%;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        -moz-transform:translate(0, 0);
        -webkit-transform:translate(0, 0);
        -ms-transform:translate(0, 0);
        -o-transform:translate(0, 0);
        transform:translate(0, 0);
        -moz-transform:translate3d(0, 0, 0);
        -webkit-transform:translate3d(0, 0, 0);
        -ms-transform:translate3d(0, 0, 0);
        -o-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        opacity: 0;
    }

    .sm-main > .sm-show { 
        -moz-transform:translate(-100%, 0);
        -webkit-transform:translate(-100%, 0);
        -ms-transform:translate(-100%, 0);
        -o-transform:translate(-100%, 0);
        transform:translate(-100%, 0);
        -moz-transform:translate3d(-100%, 0, 0);
        -webkit-transform:translate3d(-100%, 0, 0);
        -ms-transform:translate3d(-100%, 0, 0);
        -o-transform:translate3d(-100%, 0, 0);
        transform:translate3d(-100%, 0, 0);
        box-shadow: 0 0 11px #999;
        opacity: 1;
    }

    .sm ul {
        list-style: none;
        margin: 0;
        overflow-y: scroll;
        padding: 0;
    }
    
    .sm .sm-item-more > .sm-item-label::after {
        display: block;
        position: absolute;
        content: "»";
        right: 0;
        font-size: 1.7em;
        color: #ADADAD;
        top: 0;
        font-family: arial;
        line-height: 1;
        padding: .36em 0.9em;
        font-weight: 100;
    }

    .sm .sm-item-label:hover {
        -webkit-box-shadow: inset 0 -1px rgba(0,0,0,0);
        background: rgba(0,0,0,0.2);
        box-shadow: inset 0 -1px rgba(0,0,0,0);
        color: #FFF;
    }
    .sm .sm-item-label:hover::after {
        color: white;
    }
    
    .sm-item-label {
        position: relative;
        -webkit-transition: background .3s,box-shadow .3s;
        -moz-transition: background .3s,box-shadow .3s;
        box-shadow: inset 0 -1px rgba(0,0,0,0.2);
        display: block;
        font-size: 1.4em;
        line-height: 2em;
        outline: 0;
        padding: .7em 1.8em .7em 1em;
        text-shadow: 0 0 1px rgba(255,255,255,0.1);
        transition: background .3s,box-shadow .3s;
    }
    .sm .sm-back {
        cursor: pointer;
        -webkit-transition: background .3s,box-shadow .3s;
        -moz-transition: background .3s,box-shadow .3s;
        -moz-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
        -webkit-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
        background: #3B8600;
        color: #FFF;
        box-shadow: inset 0 -1px rgba(0,0,0,0.2);
        display: block;
        font-size: 1.3em;
        font-weight: 700;
        letter-spacing: 1px;
        outline: 0;
        padding: 1em 1em 1em 2.5em;
        position: relative;
        text-transform: uppercase;
         transition: background .3s,box-shadow .3s;
    }
    .sm .sm-back:hover { background: #4BAA00; }
    .sm .sm-back::after {
        display: block;
        position: absolute;
        content: "«";
        left: 0;
        font-size: 2em;
        color: #FFF;
        top: 0;
        font-family: arial;
        font-weight: 100;
        line-height: 1;
        padding: 0.28em 0.5em;
    }

    .sm-item-useraccount {
        background: #73BE13;
        color: #FFF;
        font-size: 2em;
        font-weight: 300;
        margin: 0;
        padding: .5em;
        overflow: hidden;
    }
    .sm-useraccount-photo { 
        float: left;
        width: 50px;
        border: solid 3px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }
    .sm-useraccount-name { 
        padding: .7em 1em;
        margin-left: 50px;
    }


    .sm .fb:hover { background-color: #3b5998; color: #FFF; }
    .sm .tw:hover { background-color: #4099ff; color: #FFF; }
    .sm .gp:hover { background-color: #d34836; color: #FFF; }
    .sm .pin:hover { background-color: #c92228; color: #FFF; }
